src/input-files/01_generate_load-data
src/input-files/02_generate_pv-data
src/input-files/03_generate_hp-data
src/input-files/04_generate_ev-data
src/input-files/05_OEDB
src/input-files/06_evaluation_input_data
src/input-files/07_dataset_test_diff_timesteps
src/output-files/
src/archiv
tests/*
*.log
*.gitignore*
*.ipynb_checkpoints*
*temp-plot.html

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
